POSTGRES_DB=field_notes
POSTGRES_USER=fieldnotes
POSTGRES_PASSWORD=change_this_password
SERVER_PORT=8080
DB_URL=jdbc:postgresql://postgres:5432/field_notes
DB_USERNAME=fieldnotes
DB_PASSWORD=change_this_password
